body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}

body {
    background: url("../img/pic8.jpg") no-repeat;
    background-size: cover;
    font-family: "Helvetica Neue",sans-serif;
    font-weight: bold;

}
.content {
    width: 94%;
    margin: 4em auto;
    font-size: 80px;
    text-align: justify;
}
.signup {
    font-family: "Kristen ITC", serif;
    width: 80%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.hallpic {
    float:left;
    margin-top: 10%;
    margin-left: 15%;
    width:30%;
    height: 60vh;
}

.map {
    margin-left: 55%;
}

.top-left {
    font-family: "Helvetica", sans-serif;
    margin-top:5%;
    float: left;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}
