body, html {
text-align: center;
color: #fff;
padding: 18px;
font-size: 25px;
}

body {
    background: url("../img/rewardsbackground.jpg");
    background-size: cover;
    font-family: "Helvetica Neue",sans-serif;
    font-weight: bold;

}
.content {
    font-family: "MS PGothic", monospace;
    width: 80%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.signup {
    font-family: "Kristen ITC", serif;
    width: 80%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

 * {
     box-sizing: border-box;
 }

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}
