body, html {
    background: url(../img/seat.jpg) no-repeat;
}

.front {
    width: 300px;
    margin: 5px 32px 45px 32px;
    background-color: #f0f0f0;
    color: #666;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
}

.booking-details {
    margin-left: 50%;
    position: relative;
    width: 200px;
    height: 450px;
}

.booking-details h3 {
    margin: 5px 5px 0 0;
    font-size: 16px;
}

.booking-details p {
    line-height: 26px;
    font-size: 16px;
    color: #999
}

.booking-details p span {
    color: #666
}

div.seatCharts-cell {
    color: #182C4E;
    height: 25px;
    width: 25px;
    line-height: 25px;
    margin: 5px;
    float: left;
    text-align: center;
    outline: none;
    font-size: 13px;
}

div.seatCharts-seat {
    color: #fff;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div.seatCharts-row {
    height: 40px;
    margin-left: 8px;
}

div.seatCharts-seat.available {
    background-color: #B9DEA0;
}

div.seatCharts-seat.focused {
    background-color: #76B474;
    border: none;
}

div.seatCharts-seat.selected {
    background-color: #E6CAC4;
}

div.seatCharts-seat.unavailable {
    background-color: #472B34;
    cursor: not-allowed;
}

div.seatCharts-container {
    border-right: 1px dotted #adadad;
    width: 400px;
    padding: 20px;
    float: left;
    position: center;
}

div.seatCharts-legend {
    padding-left: 15px;
    position: absolute;
    bottom: 10px;
}

ul.seatCharts-legendList {
    padding-left: 10px;
}

.seatCharts-legendItem {
    float: left;
    width: 90px;
    margin-top: 5px;
    line-height: 2;
}

span.seatCharts-legendDescription {
    margin-left: 0px;
    line-height: 30px;
}

.checkout-button {
    display: block;
    width: 80px;
    height: 24px;
    line-height: 20px;
    margin: 10px auto;
    border: 1px solid #999;
    font-size: 14px;
    cursor: pointer
}

#selected-seats {
    max-height: 150px;
    overflow-y: auto;
    overflow-x: none;
    width: 200px;
}

#selected-seats li {
    float: left;
    width: 72px;
    height: 26px;
    line-height: 26px;
    border: 1px solid #d3d3d3;
    background: #f7f7f7;
    margin: 6px;
    font-size: 14px;
    font-weight: bold;
    text-align: center
}



.imgBgMethod, .borderMethod,.glyphIconMethod{
    display: inline-block;
    position: relative;
}

.imgBgMethod select{
    background: #fff url("http://i68.tinypic.com/9t3d3d.png ") no-repeat 95% 50%;
}

.borderMethod select, .glyphIconMethod select{background: transparent;}

.borderMethod::after{
    content: "";
    display: inline-block;
    /*border-top: 10px solid #777;*/
    border-right:10px solid transparent;
    border-left:10px solid transparent;
    position: absolute;
    top:calc(50% - 5px);
    right:.5rem;
    z-index: -1;
    pointer-events: none;
}

.reserve {
    margin-top: 12%;
    text-align: center;
    position: relative;
}


select{
    border:1px solid #777;
    padding: .8rem 3rem .8rem .5rem;
    border-radius: 3px;

    color:#565656;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    cursor: pointer;


}


.glyphIconMethod::after{
    content: " \f13a";
    font-family: "FontAwesome";
    color: #777;
    position: absolute;
    right:.5rem;
    /*top:15px;*/
    z-index: -1;
    pointer-events: none;
}

select:focus{
    border: 1px solid blue;
}

select::-ms-expand{
    display: none;
}